* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

code {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 40px;
    color: yellow;
    font-size: 2em;
}

#party-chicken {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
